html{
    background: #ffaf4b;
    background: -moz-radial-gradient(center, ellipse cover, #9A9998 0%, #000000 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9A9998), color-stop(100%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, #9A9998 0%,#000000 100%);
    background: -o-radial-gradient(center, ellipse cover, #9A9998 0%,#000000 100%);
    background: -ms-radial-gradient(center, ellipse cover, #9A9998 0%,#000000 100%);
    background: radial-gradient(ellipse at center, #9A9998 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9A9998', endColorstr='#000000',GradientType=1 );
    
}

.logo{
    display: block;
    margin:auto;
    float: none;
}

.tag{
    text-align:center;
    font-size: 20px;
    color: #9C9C9C;
}